
<h1>Agenda del Día</h1>
<ol>
    <li>Conocernos</li>
    <li>The Zen of Python</li>
    <li>Conocer Jupyter</li>
    <li>Tipos de variables
            <ul>
                <li><b>Comments</b></li>
                <li><i>Strings</i></li>
                <li><i>Integers</i></li>
                <li><i>Floats</i></li>
                <li><i>Booleans</i></li>
            </ul>
    </li>
     <li>Operaciones aritméticas</li>
   


</ol>

In [34]:
import this

In [45]:
nombre = "Shane"
apellido = "Reilly"

print(nombre)
print(apellido)

Shane
Reilly

In [52]:
print("Esto es 'un' string")
print('Esto es un string')
print('Esto es un string "Hola"')

string = """
asdfalskdjasdf
sadfjasdflkasjdflña
asdfkljasldfkjas
as´dfjasdpfoj
"""



print(string)

Esto es 'un' string
Esto es un string
Esto es un string "Hola"

asdfalskdjasdf
sadfjasdflkasjdflña
asdfkljasldfkjas
as´dfjasdpfoj

In [61]:
nombre = "shane"
apellido = "reilly12312___312"
nom_completo = f"Bienvenido de vuelta, {nombre} {apellido}"

print(nom_completo.title())
print(nom_completo.upper())
print(nom_completo.lower())

Bienvenido De Vuelta, Shane Reilly12312___312
BIENVENIDO DE VUELTA, SHANE REILLY12312___312
bienvenido de vuelta, shane reilly12312___312

In [65]:
string1= "FFFFF"
string2= "ggggg"

str_completo = f"{string1} {string2}"
str_completot = f"\t{string1} {string2}"
str_completon = f"{string1}\n{string2}"
print(str_completo)
print(str_completot)
print(str_completon)

FFFFF ggggg
	FFFFF ggggg
FFFFF
ggggg

In [70]:
string4 = " hola "
print(string4)
print(string4.rstrip())
print(string4.lstrip())
print(string4.strip())

 hola
 hola
hola
hola

In [74]:
msg = "Estoy aprendiendo a cocinar"
print(msg)
msg = msg.replace("cocinar","programar")
print(msg)

Estoy aprendiendo a cocinar
Estoy aprendiendo a programar

In [78]:
msg1 = "Estoy aprendiendo a 11111cocinar"

print(len(msg1))

32

In [82]:
print(msg1[2])

t

In [85]:
print("12123123" in msg1)

False

In [90]:
#Integers & Float

inte = 12
flt = 10.2

print(type(inte))
print(type(flt))

<class 'int'>
<class 'float'>

In [103]:
10.2+2

12.2

In [94]:
10-2

8

In [95]:
10/2

5.0

In [96]:
10*2

20

In [98]:
10**2

100

In [100]:
4**1/2

2.0

In [104]:
10%3

1

In [117]:
list = [[1,2,8,3,65],[1,2,8,3,65]]
list1 = ["pedro","Juan",1,2.0]
for el in list1:
    print(el)

pedro
Juan
1
2.0

In [120]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(100,2))
print(df)

           0         1
0   0.379193  0.963894
1   0.385212  0.861774
2   0.911485  0.206870
3   0.002815  0.399123
4   0.107687  0.766912
..       ...       ...
95  0.960596  0.917635
96  0.446761  0.375614
97  0.227412  0.319842
98  0.983532  0.631655
99  0.701232  0.119104

[100 rows x 2 columns]

In [125]:
boole = 1
boole1 = 0

if boole: 
    print("hola")

hola

In [ ]:
if sta
for loops
while loops

matplotlib

pandas
numpy

dict
and or